@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92960854');
  src: url('../font/fontello.eot?92960854#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?92960854') format('woff'),
       url('../font/fontello.ttf?92960854') format('truetype'),
       url('../font/fontello.svg?92960854#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

header, nav, section, article, aside, footer, video {
	display: block
}

body {
	width: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
}


/*Panel styles*/
.panel {
	border-right: 1px black solid;
	width: 24%;
	display: inline-block;
	float: left;
}

.panel__search {
	position: relative;
	width: 99%;
	height: 30px;
	line-height: 20px;
	font-size: 18px;
	margin-top: 10px;
	border: 1px black solid;
}

.panel__header {
	width: 100%;
	background-color: #DDDDDD;
	height: 28px;
	line-height: 28px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	padding-left: 10px;
}

.panel__contacts {
	overflow-y: auto;
	overflow-x: hidden;
}

.panel__contact {
	padding-top: 10px;
	padding-left: 10px;
	display: block;
	width: 100%;
	border-bottom: 1px gray solid;
	float: left;
	height: 80px;
	position: relative;
}

.panel__active {
	background-color: #BBBBBB;
}

.contact__image {
	display: inline-block;
	width: 60px;
	height: 60px;
	float: left;
	border: 3px white solid;
	margin-right: 10px;
	box-shadow: 0px 0px 0px 2px black;
}

.contact__info {
	position: absolute;
	margin-top: -15px;
	margin-left: 80px;
	display: table-cell;
}

.contact__name {
	line-height: 28px;
	font-size: 24px;
	vertical-align: top;
}

.contact__group {
	font-style: italic;
	font-color: #333333;
	margin-top: -20px;
}

.panel__contact-edit {
	width: 100%;
	margin: 0 auto;
	background-color: #DDDDDD;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

/*Styles of the main part of the adress book*/
.main {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	float: right;
}

.main__header {
	position: relative;
	width: 100%;
	background-color: #DDDDDD;
	display: block;
	height: 140px;
}

.main__image {
	display: inline-block;
	float: left;
	width: 100px;
	height: 100px;
	margin: 20px;
	border: 3px white solid;
	box-shadow: 0px 0px 0px 2px black;
}

.main__name {
	position: absolute;
	bottom: 0px;
	left: 140px;
	font-size: 36px;
}

.main__info {
	margin-left: 20px;
}

.main__info__phone:before {
	font-family: fontello;
	content: "\e800";
}

.main__info__email:before {
	font-family: fontello;
	content: "\e802";
}

.main__info__group:before {
	font-family: fontello;
	content: "\e804";
}


/*Add contact form styles*/
.add-contact {
	margin-left: 20px;
}

.add-contact__fields {
	list-style-type: none;
	line-height: 40px;
	font-size: 18px;
}

.add-contact__field {
	height: 20px;
	line-height: 20px;
	border: 1px black solid;
	border-radius: 3px;
}

.add-contact__name:before {
	font-family: fontello;
	content: "\e803";
}

.add-contact__phone:before {
	font-family: fontello;
	content: "\e800";
}

.add-contact__email:before {
	font-family: fontello;
	content: "\e802";
}

.add-contact__group:before {
	font-family: fontello;
	content: "\e804";
}

.main .ng-invalid.ng-dirty{
	border-color: #FA787E;
}

.main .ng-valid.ng-dirty {
	border-color: #78FA89;
}



