<!DOCTYPE html>
<html lang="en" ng-app="book">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/global.css">
	<title>Adress Book</title>
</head>
<body ng-controller="BookController as book">
	<aside ng-controller="PanelController as panel">
		<form>
			<input class="panel__search" ng-model="searchText" type="text" placeHolder="Start typing name..."/>
		</form>
		<section>
			<ul>
				<li ng-class="{active: panel.isSelected(1)}">
					<a href ng-click="panel.selectTab(1)">Persons</a>
				</li>
				<li ng-class="{active: panel.isSelected(2)}">
					<a href ng-click="panel.selectTab(2)">Groups</a>
				</li>
			</ul>
		</section>
		<section class="panel__contacts"  >
			<div class="panel__contact" ng-show="panel.isSelected(1)" ng-repeat="contact in book.contacts | orderBy:'name' | filter:searchText" ng-click="book.selectContact(contact.number)" ng-class="{panel__active: book.isSelected(contact.number)}" >
				<img class="contact__image" ng-src="{{contact.image}}" alt="photo">
				<div class="contact__info"><p class="contact__name">{{contact.name}}</p>
				<p class="contact__group">{{contact.group}}</p></div>
			</div>
			<div ng-show="panel.isSelected(2)" ng-repeat="contact in book.contacts | orderBy:'name' ">
				<p>{{contact.group}}</p>
			</div>
		</section>
		<section class="panel__contact-edit" ng-show="panel.isSelected(1)">
			<form action="">
				<input type="submit" value="Add contact" ng-click="book.turnAddContact()"/>
				<input type="submit" value="Remove contact" ng-click="book.removeContact()"/>
			</form>
		</section>
	</aside>
	<main class="main">
		<section ng-hide="book.isAddContact">
			<header class="main__header">
				<img class="main__image" ng-src="{{book.contacts[book.current].image}}" alt=""/>
				<h1 class="main__name">{{book.contacts[book.current].name}}</h1>
			</header>
			<div class="main__info">
				<p>Phone: {{book.contacts[book.current].phone}}</p>
				<p>Email: {{book.contacts[book.current].email}}</p>
				<p ng-show="book.contacts[book.current].group.length">Group: {{book.contacts[book.current].group}}</p>
				<button ng-hide="book.contacts[book.current].group.length">Add to Group</button>
			</div>
		</section>
		<section class="add-contact" ng-show="book.isAddContact">
			<h1>Add New Contact</h1>
			<form name="contactForm" action="" ng-controller="AddContactController as contactCtrl" ng-submit="contactForm.$valid && contactCtrl.addContact()" novalidate>
				<ul>
					<li>Name: <input ng-model="contactCtrl.contact.name" type="text" placeHolder="Name..." required></li>
					<li>Phone: <input ng-model="contactCtrl.contact.phone" type="tel" placeHolder="Phone numder..." required></li>
					<li>Email: <input ng-model="contactCtrl.contact.email" type="email" placeHolder="Email..." required></li>
					<li>Group: <input ng-model="contactCtrl.contact.group" type="text" placeHolder="Contact group (optional)..."></li>
				</ul>
				<input type="submit" value="Add contact" ng-click="contactForm.$valid && book.turnAddContact()" />
			</form>
		<section>
	</main>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>